$primary-color: black;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "type font";
    src:url('../assets/EuropeanTypewriter.ttf') format('truetype');
}

@mixin transition-ease{
    transition: all 1s;
}