@import '../../sass/config';


.checkout{
    width:100%; 
    height: 100%; 
    position:relative; 
    overflow-x: hidden;
}
.review{
    width:70%; 
    margin: 1.5rem auto;
    border: 1px solid lightgrey;
    &__title{
        padding:0.75rem;
        width:100%; 
        text-align: center;
        @include type-font;
        letter-spacing: 0.2rem;
        margin-bottom: 1.5rem;
        color:white;
        background: linear-gradient(to right, black, grey);
    }
    ul{
        list-style-type: none;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
            width: 95%;
            border-bottom: 1px solid black;
            padding:0.5rem 5rem;
            margin:0 auto 1rem auto;
            display:flex;
            flex-direction: column;
            justify-content: center;
            @include type-font;
            .name{
                font-size: 1.2rem;
            }
            .qty{
                font-size: 1rem;
            }
            .price{
                font-weight: bold;
            }
        }
    }
    &__amount{
        width: 100%; 
        text-align: center;
        margin: 0.5rem 0;
        @include type-font;
        letter-spacing: 0.2rem; 
        font-weight: bold;
        &.total{
            font-size: 1.25rem;
        }
    }
    &-btn{
       width:80%; 
       margin: 1rem auto; 
       @include center;
       text-decoration: none;
       button{
           @include btn; 
       }
    }
}

.confirmation{
    width: 80%; 
    margin: 1.5rem auto;
    border: 1px solid lightgrey;
    &__title{
        width:100%; 
        text-align:center;
        @include type-font;
    }
    &-btn{
        margin: 2rem;
        @include center;
        button{
            @include btn;
        }
    }

}

