@import '../../sass/config';

.splash{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    width:100vw;
    margin-top: 0rem;
    background: url('../../assets/spalsh-bg-mobile.jpg')  center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #{&}__title, #{&}__title-sub{
        z-index: 2;
        margin: 0.5rem 0 0 1.5rem;
        font-family: "type font", 'Times New Roman';
        letter-spacing: 0.5rem;
        color:white;
        font-weight: normal;
        animation: splash-title 1s 2s ease-in-out;
    }
    #{&}__title{
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
     #{&}__title-sub{
         display:flex; 
         flex-direction: column;
     }
    #{&}__title-sub, #{&}__dynamic{
        margin-top: 0rem;
        font-size:2rem;
        letter-spacing: 0.1rem;
    }
    #{&}__dynamic{
        z-index: 2;
        &::after{
            content: "|";
        }
    }
    #{&}__overlay{
        position: absolute;
        padding-top:5rem;
        z-index: 1;
        left: 0; 
        right: 0;
        width:100%; 
        height: 100%; 
        background-color:rgba(0,0,0,0.75);
        animation: overlay 2s 1s ease-out;
    }
}
@keyframes overlay {
    from{
         background-color:rgba(0,0,0,0);
    }
    to{
         background-color:rgba(0,0,0,0.75);
    }
}
@keyframes splash-title{ 
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.collection{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #{&}__title{
        width: 70%;
        margin: auto;
        text-align: center;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $primary-color;
        font-family: "type font", "sans-serif";
        letter-spacing: 0.2rem;
    }
    #{&}__grid{
        width: 80%;
        margin:1rem;
        display: grid;
        gap:1rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 75px;
        &__item{
            position: relative;
            width: 100%; 
            height: 100%; 
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            span{
                position: absolute;
                z-index: 2;
                top:0;
                left:0;
                height: 100%;
                width:100%;    
                background: rgba(0,0,0,0.6);
                display: flex;
                justify-content:center;
                align-items: center;
                font-size: 1rem;
                color:white;
                font-family: "type font", "sans-serif";
            }
        }
    }
}

.home-history{
    width: 100%;
    position: relative;
    #{&}__header{
        width: 100%;
        height:50vh;
        position: relative;
        span{
            @extend %home-header-span;
            h1{
                color: white;
                font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                letter-spacing: 0.1rem;
                font-size: 1.5rem;
                width: 90%;
                margin: auto;
                text-align: center;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    #{&}__info{
        width: 95%;
        margin: auto;
        padding: 1.5rem;
        position: relative;
        p{
            padding:0.1rem;
            @include type-font;
            letter-spacing: 0.1rem;
            line-height: 1.25;
            text-align: left;
        }
        &__source{ 
            position: absolute;
            margin-top: 15rem;
            right: 4rem; 
            bottom: 1rem;
            font-size: 1rem;
        }
    }
}
.home-subscribe{
    width: 100%;
    height: 70vh;
    #{&}__header{
        width: 100%;
        height: 100%;
        position:relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
        span{
            @extend %home-header-span;
            flex-direction: column;
            h1{
                @extend %home-header-title;
                letter-spacing:0.2rem
            }
            h3{
                @include type-font;
                font-size: 1rem;
                letter-spacing:0.2rem;
                margin-top:1rem;
                color: white;
            }
            form{
                height: 3rem;
                width: 40%;
                margin: 3.5rem auto;
                display: flex;
                justify-content:center;
                align-items:center;
                flex-direction: column;
                .email-input{
                    @include type-font;
                    letter-spacing: 0.2rem;
                    color:white;
                    margin:1rem;
                    flex:3;
                    outline:none;
                    background:none;
                    height: 50%;
                    border:none;
                    border-bottom: 1px solid white;
                    padding: 0.5rem;
                    font-size: 1.5rem;
                    &:focus{
                        border-bottom: 2.5px solid white;
                    }
                }
                button{
                    margin-top: 1rem;
                    @include btn;
                }
            }
        }
    }
}

 @include media-tablet {
     .splash{
         #{&}__title{
             width: 50%; 
             font-size: 5rem;
         }
         #{&}__title, #{&}__title-sub{
             margin-left: 3.5rem;
         }
         #{&}__title-sub{
             flex-direction: row;
             span{
                 margin: 0 0.5rem;
                 font-size: 3rem;
             }
         }
     }
     .collection{
         #{&}__grid{
             grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
             grid-auto-rows: 13.5rem;
              &__item{
                  span{
                      font-size: 2.5rem;
                  }
              }
         }
     }
     .home-history{
         #{&}__header{
             height: 20rem;
             span{
                h1{
                    font-size: 2rem;
                } 
             }
         }
         #{&}__info{
             width: 85%;
             p{
                 margin: 2rem 0;
             }
             &__source{ 
                 margin-top: 2.5rem; 
             }
         }
     }
     .home-subscribe{
         height: 40vh;
     }
 }

@include media-desktop__sm {
     .home-history{
        #{&}__header{
            height:60vh;
        }
        #{&}__info{
            width: 65%; 
            p{
                font-size: 1.25rem;
            }
        }
     }
     .home-subscribe{
         height: 70vh; 
         #{&}__header{ 
             padding-top: 3.5rem;
         }
     }
}

@include media-desktop__m {
    .splash{
        #{&}__title{
            width: 30%;
        }
    }
    .collection{
        padding: 2rem;
        #{&}__grid{
             grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
             grid-auto-rows: 17.5rem;
        }
    }
    .home-subscribe{
         height: 80vh; 
         #{&}__header{ 
             padding-top: 10.5rem;
         }
    }
}