@import '../../sass/config';

.nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    left:0;
    @include transition-ease;
    height: 3rem;
    width: 100vw;
    padding: 0 1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background: rgba(0,0,0,1);
    #{&}__item{
        @include type-font;
        letter-spacing: 0.1rem;
        color:white;
        margin: 1.5rem 0;
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        text-decoration: none;
        &__cart{
            color:white;
        }
        &__cart__items{
            color:white;
            @include type-font;
            font-weight: bold;
            margin-left: 0.1rem;
            position:absolute;
            bottom:0;
        }
    }
    .nav__item.active{
        border-bottom: 2px solid white;
        padding-bottom: 0.5rem;
        color: red;
    }
}