* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.splash {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  width: 100vw;
  margin-top: 0rem;
  background: url("../../assets/spalsh-bg.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash .splash__title, .splash .splash__title-sub {
  margin: 0.5rem 0 0 1.5rem;
  font-family: "type font", 'Times New Roman';
  letter-spacing: 0.5rem;
  color: white;
  font-weight: normal;
}

.splash .splash__title {
  font-size: 3rem;
  font-weight: bold;
}

.splash .splash__title-sub, .splash .splash__dynamic {
  margin-top: 3.5rem;
  font-size: 2.5rem;
}

.splash .splash__dynamic::after {
  content: "|";
}

.collection {
  padding-top: 3rem;
}

.collection .collection__title {
  width: 40%;
  margin: auto;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  font-family: "type font", "sans-serif";
  letter-spacing: 0.2rem;
}

.collection .collection__grid {
  width: 80%;
  margin: 1rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 15rem;
}

.collection .collection__grid__item {
  position: relative;
}

.collection .collection__grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection .collection__grid__item span {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  font-family: "type font", "sans-serif";
}

.home-history {
  width: 100%;
}

.home-history .home-history__header {
  width: 100%;
  height: 50vh;
  position: relative;
}

.home-history .home-history__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: auto;
  text-align: center;
}

.home-history .home-history__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-history .home-history__info {
  width: 95%;
  margin: auto;
  padding: 1.5rem;
}

.home-history .home-history__info p {
  padding: 0.5rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  text-align: justify;
}

.home-subscribe {
  width: 100%;
  height: 70vh;
}

.home-subscribe .home-subscribe__header {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-subscribe .home-subscribe__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-subscribe .home-subscribe__header span {
  flex-direction: column;
}

.home-subscribe .home-subscribe__header span h1 {
  letter-spacing: 0.2rem;
}

.home-subscribe .home-subscribe__header span h3 {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  color: white;
}

.home-subscribe .home-subscribe__header span form {
  height: 3rem;
  width: 90%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span form .email-input {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  color: white;
  margin: 0 1rem;
  flex: 3;
  outline: none;
  background: none;
  height: 80%;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.home-subscribe .home-subscribe__header span form .email-input:focus {
  border-bottom: 2.5px solid white;
}

.home-subscribe .home-subscribe__header span form button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
}

.home-subscribe .home-subscribe__header span form button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  top: 0;
  left: 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background-color: black;
}

.mobile-nav .mobile-nav__logo {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mobile-nav .mobile-nav__btn {
  z-index: 5;
  cursor: pointer;
  width: 2rem;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav .mobile-nav__btn__burger {
  z-index: 7;
  transition: all 0.5s;
  position: relative;
  width: 1.5rem;
  height: 0.1rem;
  background: rgba(255, 255, 255, 0.7);
}

.mobile-nav .mobile-nav__btn__burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.5rem;
  height: 0.1rem;
  width: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}

.mobile-nav .mobile-nav__btn__burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  height: 0.1rem;
  width: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}

.mobile-nav .mobile-nav__btn__burger.open {
  transform: rotate(180deg);
  background: transparent;
}

.mobile-nav .mobile-nav__btn__burger.open::before {
  transform: translate(0, 0.5rem) rotate(45deg);
}

.mobile-nav .mobile-nav__btn__burger.open::after {
  transform: translate(0, -0.5rem) rotate(-45deg);
}

.nav {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background: black;
  transform: translateY(-150vh);
}

.nav .nav__item {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  color: white;
  margin: 1.5rem 0;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  text-decoration: none;
}

.nav .nav__item.logo {
  display: none;
}

.nav.open {
  transform: translateY(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.footer {
  position: relative;
  width: 100%;
  height: 12rem;
  padding-top: 1.5rem;
  margin-top: 3rem;
  border-top: 1px solid black;
}

.footer .footer-container {
  width: 85%;
  display: flex;
  margin: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-container__home {
  margin-right: auto;
  margin-left: 1rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  color: black;
  text-decoration: none;
}

.footer .footer-container__sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.footer .footer-container__sub__links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-container__sub__links__link {
  transition: all 0.5s;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 0.25rem 0.5rem;
}

.footer .footer-container__sub__links__link:hover {
  font-weight: bold;
}

.footer .footer-container__sub__socials {
  width: 50%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
}

.footer .footer-container__sub__socials .icon {
  transform: scale(1.5);
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.footer .footer-container__sub__socials .icon:hover {
  transition: all 0.5s;
  opacity: 0.8;
  transform: scale(1.75);
}

.footer p {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.products {
  background-color: #CDDCDC;
  background-image: radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
  background-blend-mode: screen, overlay;
  width: 100%;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  overflow-x: hidden;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
}

.product-card {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product-card:hover::after {
  transition: all 0.5s;
  height: 100%;
  opacity: 0.9;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card span {
  text-align: center;
  height: 2rem;
  color: black;
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 0.5rem;
  background: white;
  opacity: 0.9;
  border-radius: 1rem;
  border: 1px solid black;
}

.product-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
}

.product-card .product-card__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: white;
  font-size: 1.5rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  opacity: 0;
}

.product-card .product-card__info:hover {
  opacity: 1;
}

.product-card .product-card__info__span {
  margin: 0.5rem 0;
}

.product-card .product-card__info__span:last-child {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .product-card__info__span:last-child button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  margin: 0 0.5rem;
}

.product-card .product-card__info__span:last-child button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.product-info {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 1rem;
}

.product-info .current {
  width: 95%;
  height: 50%;
  margin: 3.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-info .current__images {
  width: 95%;
  margin: 0.5rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.product-info .current__images__main {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
}

.product-info .current__images__main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info .current__images__assets {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.product-info .current__images__assets__asset {
  cursor: pointer;
  width: 30%;
}

.product-info .current__images__assets__asset img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info .current__info {
  width: 95%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info .current__info h1 {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.75rem;
}

.product-info .current__info p {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.product-info .current__info span {
  width: 100%;
  margin-top: 2rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info .current__info span button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  margin: 0 0.5rem;
  border: 1px solid black;
}

.product-info .current__info span button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.App {
  overflow: hidden;
}
/*# sourceMappingURL=App.css.map */