* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.splash {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 100vw;
  margin-top: 0rem;
  background: url("../../assets/spalsh-bg.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash .splash__title, .splash .splash__title-sub {
  margin: 0.5rem 0 0 1.5rem;
  font-family: "type font", 'Times New Roman';
  letter-spacing: 0.5rem;
  color: white;
  font-weight: normal;
}

.splash .splash__title {
  font-size: 3rem;
  font-weight: bold;
}

.splash .splash__title-sub, .splash .splash__dynamic {
  margin-top: 3.5rem;
  font-size: 2.5rem;
}

.splash .splash__dynamic::after {
  content: "|";
}

.collection {
  padding-top: 1.5rem;
}

.collection .collection__title {
  width: 40%;
  margin: auto;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  font-family: "type font", "sans-serif";
  letter-spacing: 0.2rem;
}

.collection .collection__grid {
  width: 80%;
  margin: 1rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.collection .collection__grid__item {
  position: relative;
}

.collection .collection__grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection .collection__grid__item span {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  font-family: "type font", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.mobile-nav {
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  top: 0;
  left: 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.mobile-nav .mobile-nav__logo {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mobile-nav .mobile-nav__btn {
  z-index: 5;
  cursor: pointer;
  width: 2rem;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav .mobile-nav__btn__burger {
  z-index: 7;
  transition: all 1s;
  position: relative;
  width: 1.5rem;
  height: 0.1rem;
  background: rgba(255, 255, 255, 0.7);
}

.mobile-nav .mobile-nav__btn__burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.5rem;
  height: 0.1rem;
  width: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}

.mobile-nav .mobile-nav__btn__burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  height: 0.1rem;
  width: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}

.mobile-nav .mobile-nav__btn__burger.open {
  transform: rotate(180deg);
  background: transparent;
}

.mobile-nav .mobile-nav__btn__burger.open::before {
  transform: translate(0, 0.5rem) rotate(45deg);
}

.mobile-nav .mobile-nav__btn__burger.open::after {
  transform: translate(0, -0.5rem) rotate(-45deg);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background: rgba(0, 0, 0, 0.9);
  transform: translateY(-150vh);
}

.nav .nav__item {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  color: white;
  margin: 1.5rem 0;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  text-decoration: none;
}

.nav .nav__item.logo {
  display: none;
}

.nav.open {
  transform: translateY(0);
}
/*# sourceMappingURL=App.css.map */