@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.splash {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  width: 100vw;
  margin-top: 0rem;
  background: url("../../assets/spalsh-bg-mobile.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash .splash__title, .splash .splash__title-sub {
  z-index: 2;
  margin: 0.5rem 0 0 1.5rem;
  font-family: "type font", 'Times New Roman';
  letter-spacing: 0.5rem;
  color: white;
  font-weight: normal;
  animation: splash-title 1s 2s ease-in-out;
}

.splash .splash__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.splash .splash__title-sub {
  display: flex;
  flex-direction: column;
}

.splash .splash__title-sub, .splash .splash__dynamic {
  margin-top: 0rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.splash .splash__dynamic {
  z-index: 2;
}

.splash .splash__dynamic::after {
  content: "|";
}

.splash .splash__overlay {
  position: absolute;
  padding-top: 5rem;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  animation: overlay 2s 1s ease-out;
}

@keyframes overlay {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

@keyframes splash-title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.collection {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection .collection__title {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  font-family: "type font", "sans-serif";
  letter-spacing: 0.2rem;
}

.collection .collection__grid {
  width: 80%;
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
}

.collection .collection__grid__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.collection .collection__grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection .collection__grid__item span {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  font-family: "type font", "sans-serif";
}

.home-history {
  width: 100%;
  position: relative;
}

.home-history .home-history__header {
  width: 100%;
  height: 50vh;
  position: relative;
}

.home-history .home-history__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  width: 90%;
  margin: auto;
  text-align: center;
}

.home-history .home-history__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-history .home-history__info {
  width: 95%;
  margin: auto;
  padding: 1.5rem;
  position: relative;
}

.home-history .home-history__info p {
  padding: 0.1rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  text-align: left;
}

.home-history .home-history__info__source {
  position: absolute;
  margin-top: 15rem;
  right: 4rem;
  bottom: 1rem;
  font-size: 1rem;
}

.home-subscribe {
  width: 100%;
  height: 70vh;
}

.home-subscribe .home-subscribe__header {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-subscribe .home-subscribe__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-subscribe .home-subscribe__header span {
  flex-direction: column;
}

.home-subscribe .home-subscribe__header span h1 {
  letter-spacing: 0.2rem;
}

.home-subscribe .home-subscribe__header span h3 {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  color: white;
}

.home-subscribe .home-subscribe__header span form {
  height: 3rem;
  width: 40%;
  margin: 3.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-subscribe .home-subscribe__header span form .email-input {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  color: white;
  margin: 1rem;
  flex: 3;
  outline: none;
  background: none;
  height: 50%;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.home-subscribe .home-subscribe__header span form .email-input:focus {
  border-bottom: 2.5px solid white;
}

.home-subscribe .home-subscribe__header span form button {
  margin-top: 1rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
}

.home-subscribe .home-subscribe__header span form button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

@media screen and (min-width: 768px) {
  .splash .splash__title {
    width: 50%;
    font-size: 5rem;
  }
  .splash .splash__title, .splash .splash__title-sub {
    margin-left: 3.5rem;
  }
  .splash .splash__title-sub {
    flex-direction: row;
  }
  .splash .splash__title-sub span {
    margin: 0 0.5rem;
    font-size: 3rem;
  }
  .collection .collection__grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 13.5rem;
  }
  .collection .collection__grid__item span {
    font-size: 2.5rem;
  }
  .home-history .home-history__header {
    height: 20rem;
  }
  .home-history .home-history__header span h1 {
    font-size: 2rem;
  }
  .home-history .home-history__info {
    width: 85%;
  }
  .home-history .home-history__info p {
    margin: 2rem 0;
  }
  .home-history .home-history__info__source {
    margin-top: 2.5rem;
  }
  .home-subscribe {
    height: 40vh;
  }
}

@media screen and (min-width: 1024px) {
  .home-history .home-history__header {
    height: 60vh;
  }
  .home-history .home-history__info {
    width: 65%;
  }
  .home-history .home-history__info p {
    font-size: 1.25rem;
  }
  .home-subscribe {
    height: 70vh;
  }
  .home-subscribe .home-subscribe__header {
    padding-top: 3.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .splash .splash__title {
    width: 30%;
  }
  .collection {
    padding: 2rem;
  }
  .collection .collection__grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 17.5rem;
  }
  .home-subscribe {
    height: 80vh;
  }
  .home-subscribe .home-subscribe__header {
    padding-top: 10.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  height: 3rem;
  width: 100vw;
  padding: 0 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background: black;
}

.nav .nav__item {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  color: white;
  margin: 1.5rem 0;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  text-decoration: none;
}

.nav .nav__item__cart {
  color: white;
}

.nav .nav__item__cart__items {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-left: 0.1rem;
  position: absolute;
  bottom: 0;
}

.nav .nav__item.active {
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
  color: red;
}

@media screen and (min-width: 1024px) {
  .nav {
    padding: 0 2.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 12rem;
  padding-top: 1.5rem;
  margin-top: 3rem;
  border-top: 1px solid black;
}

.footer .footer-container {
  width: 85%;
  display: flex;
  margin: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-container__home {
  margin-right: auto;
  margin-left: 1rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  color: black;
  text-decoration: none;
}

.footer .footer-container__sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.footer .footer-container__sub__links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-container__sub__links__link {
  transition: all 0.5s;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 0.25rem 0.5rem;
}

.footer .footer-container__sub__links__link:hover {
  font-weight: bold;
}

.footer .footer-container__sub__socials {
  width: 50%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
}

.footer .footer-container__sub__socials .icon {
  transform: scale(1.5);
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.footer .footer-container__sub__socials .icon:hover {
  transition: all 0.5s;
  opacity: 0.8;
  transform: scale(1.75);
}

.footer p {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.products {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  overflow-x: hidden;
  display: grid;
  gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
}

.product-card {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product-card:hover::after {
  transition: all 0.5s;
  height: 100%;
  opacity: 0.9;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card span {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 2rem;
  color: black;
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 0.5rem 0.5rem 1.75rem 0.5rem;
  background: white;
  opacity: 0.9;
  border-radius: 1rem;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.25rem;
}

.product-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
}

.product-card .product-card__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: white;
  font-size: 1.5rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  opacity: 0;
}

.product-card .product-card__info:hover {
  opacity: 1;
}

.product-card .product-card__info__span {
  margin: 0.5rem 0;
}

.product-card .product-card__info__span:last-child {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .product-card__info__span:last-child button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 0.5rem;
}

.product-card .product-card__info__span:last-child button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.product-info {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 1rem;
}

.product-info .current {
  width: 95%;
  height: 50%;
  margin: 3.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-info .current__images {
  width: 95%;
  margin: 0.5rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.product-info .current__images__main {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
}

.product-info .current__images__main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info .current__images__assets {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.product-info .current__images__assets__asset {
  cursor: pointer;
  width: 30%;
}

.product-info .current__images__assets__asset img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info .current__info {
  width: 95%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info .current__info h1 {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.75rem;
}

.product-info .current__info p {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.product-info .current__info span {
  width: 100%;
  margin-top: 2rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info .current__info span button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 0.5rem;
  border: 1px solid black;
}

.product-info .current__info span button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

@media screen and (min-width: 768px) {
  .product-info {
    width: 80%;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .product-info {
    width: 85%;
  }
  .product-info .current {
    width: 100%;
    height: 30rem;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 5rem;
  }
  .product-info .current__images {
    flex-direction: row;
    align-items: flex-start;
    width: 12.5rem;
    padding-top: 0;
    height: 25rem;
  }
  .product-info .current__images__main {
    order: 2;
    height: 80%;
    width: 60%;
  }
  .product-info .current__images__assets {
    flex-direction: column;
    align-self: center;
    align-items: center;
    order: 1;
    width: 10%;
    height: 50%;
    margin-right: 1.5rem;
  }
  .product-info .current__images__assets__asset {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.cart {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
}

.cart h1, .cart h2 {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  width: 100%;
  margin: 1.5rem;
  text-align: center;
}

.cart-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btns button {
  margin: 0 0.5rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
  border: 1px solid black;
}

.cart-btns button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.cart-null {
  padding-top: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-null__icon {
  margin: 1.5rem 0;
  opacity: 0.5;
  transform: scale(2.5);
}

.cart-null__text, .cart-null h3 {
  color: black;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-item {
  width: 60%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.cart-item__img {
  width: 100%;
  height: 10rem;
  margin: 0 auto;
}

.cart-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item__name {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.5rem 0;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.cart-item__qty {
  margin: 1rem 0;
}

.cart-item__qty button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
  height: 2rem;
  width: 3.5rem;
  margin: 0 1rem;
  border: 1px solid transparent;
}

.cart-item__qty button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.cart-item__remove-btn {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 1rem 0;
  width: 50%;
  border: 1px solid red;
}

.cart-item__remove-btn:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.cart-item__remove-btn:hover {
  background-color: red;
}

.cart-item__total {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .cart-btns {
    width: 80%;
  }
  .cart-item {
    width: 95%;
    height: 5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .cart-item__img {
    width: 10%;
    height: 80%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .cart-item__name {
    margin-left: 0.2rem;
  }
  .cart-item__remove-btn {
    max-width: 20%;
    height: 50%;
  }
  .cart-item__total {
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .cart-item {
    width: 80%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.checkout {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.review {
  width: 70%;
  margin: 1.5rem auto;
  border: 1px solid lightgrey;
}

.review__title {
  padding: 0.75rem;
  width: 100%;
  text-align: center;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  color: white;
  background: linear-gradient(to right, black, grey);
}

.review ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review ul li {
  width: 95%;
  border-bottom: 1px solid black;
  padding: 0.5rem 5rem;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.review ul li .name {
  font-size: 1.2rem;
}

.review ul li .qty {
  font-size: 1rem;
}

.review ul li .price {
  font-weight: bold;
}

.review__amount {
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.review__amount.total {
  font-size: 1.25rem;
}

.review-btn {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.review-btn button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
}

.review-btn button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.confirmation {
  width: 80%;
  margin: 1.5rem auto;
  border: 1px solid lightgrey;
}

.confirmation__title {
  width: 100%;
  text-align: center;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.confirmation-btn {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-btn button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
}

.confirmation-btn button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

@media screen and (min-width: 1024px) {
  .review {
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
    width: 35%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.tracker {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 85%;
  margin: 4rem auto 1rem auto;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.tracker__title {
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.tracker__steps {
  width: 65%;
  height: 2.5rem;
  margin: 0.5rem auto 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tracker__steps__step {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.tracker__steps__step.active {
  background-color: blue;
}

.tracker__steps__step.complete {
  background-color: green;
}

.tracker__steps__step.inactive {
  background-color: grey;
}

.tracker__steps__line {
  flex: 1;
  height: 0.1rem;
  border-top: 1px solid black;
}

.tracker__texts {
  width: 72.5%;
  height: 2.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tracker__texts__text.active {
  opacity: 1;
}

.tracker__texts__text.inactive {
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  .tracker.alternate {
    width: 50%;
    margin: 3.5rem 1.5rem 1.5rem 3.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "type font";
  src: url("../assets/EuropeanTypewriter.ttf") format("truetype");
}

.home-history .home-history__header span, .home-subscribe .home-subscribe__header span {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-subscribe .home-subscribe__header span h1 {
  color: white;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.address {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.address__title {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  color: black;
  margin-top: 2rem;
}

.address__btns {
  width: 100%;
  margin: 1.5rem 0;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address__btns button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 1rem;
  border: 1px solid black;
}

.address__btns button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.address form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

.address form input {
  margin: 2.5rem 0 1rem 0;
  height: 2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.address form input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.address form select {
  margin: 0.5rem 0 1rem 0;
  height: 2.5rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.payment {
  width: 95%;
  margin: 1.5rem auto;
  border-top: none;
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.payment__title {
  width: 100%;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: black;
  margin-top: 2rem;
}

.payment__options {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment__options__option {
  width: 100%;
  height: 2.5rem;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 2.5px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.payment__options__option:hover {
  transition: all 0.5s;
  background-color: lightgrey;
}

.payment__options__option .icon {
  transform: scale(2);
  margin-right: 1.5rem;
}

.payment__options__option span {
  font-weight: bold;
}

.payment__card {
  border: 2.5px solid lightgrey;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.payment__card.icon {
  color: red;
}

.payment__card button {
  font-family: "type font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-weight: bold;
  height: 80%;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 0.5rem;
}

.payment__card button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

@media screen and (min-width: 768px) {
  .address {
    width: 75%;
  }
  .address__title {
    font-size: 2rem;
  }
  .address__btns {
    border: px solid red;
  }
  .payment {
    width: 75%;
  }
  .payment__title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .address, .payment {
    width: 55%;
    margin: 3.5rem 1.5rem 1.5rem 3.5rem;
  }
}

.App {
  overflow: hidden;
}
/*# sourceMappingURL=App.css.map */